[submodule "themes/nederburg"]
	path = themes/nederburg
	url = https://github.com/appernetic/hugo-nederburg-theme.git
[submodule "themes/matomo"]
	path = themes/matomo
	url = https://github.com/holehan/hugo-components-matomo.git
